#### code: utils/datatools.py

In [1]:
import numpy as np
import pandas as pd
import os
import re

from utils.datatools import DataTools

In [2]:
t = DataTools()
# help(DataTools)

In [3]:
DATASETPATH = t.get_datasetpath()
print("dataset path:", DATASETPATH)

dataset path: ./dataset/

In [4]:
patients = t.get_patients_table()
CONTROL = patients[patients["Category"] == "Controls"]
PD = patients[patients["Category"] == "PD"]

In [5]:
patients.head()

  Patient  Category  cntFW  cntBW
0     BHY  Controls      3      3
1     CHH  Controls      3      3
2     HSH  Controls      3      3
3     JHY  Controls      3      3
4     JJG  Controls      3      3

In [6]:
idx = 0

category = CONTROL["Category"][idx]
patient = CONTROL["Patient"][idx]
print("category:", category)
print(" patient:", patient)

category: Controls
 patient: BHY

In [7]:
fw, bw = t.get_patient_datapath(category, patient)
fw

['./dataset/Controls/PREP_BHY_FW1.csv',
 './dataset/Controls/PREP_BHY_FW2.csv',
 './dataset/Controls/PREP_BHY_FW3.csv']

In [8]:
fw_data, bw_data = t.get_patient_fwdw_data(category, patient)
fw_data[0].head()

,Frame,Sub Frame,LFHD_X,LFHD_Y,LFHD_Z,RFHD_X,RFHD_Y,RFHD_Z,LBHD_X,LBHD_Y,...,RHEE_Z,RTOE_X,RTOE_Y,RTOE_Z,CentreOfMass_X,CentreOfMass_Y,CentreOfMass_Z,CentreOfMassFloor_X,CentreOfMassFloor_Y,CentreOfMassFloor_Z
0,410,0,-106.989609,-1809.509521,1450.961182,9.900115,-1806.538940,1444.034912,-105.664886,-1970.196289,...,44.184765,84.940605,-1595.594727,66.928360,-39.603561,-1865.268066,845.304565,-39.603561,-1865.268066,0.0
1,411,0,-106.972626,-1809.229248,1450.926025,9.930963,-1806.256836,1443.994019,-105.620445,-1969.902466,...,44.086636,84.857071,-1594.736450,67.095268,-39.594044,-1864.968140,845.276123,-39.594044,-1864.968140,0.0
2,412,0,-106.874718,-1807.941162,1450.765015,10.064020,-1804.977905,1443.823364,-105.447044,-1968.592529,...,43.684017,84.480515,-1590.955566,67.857040,-39.549873,-1863.639160,845.154541,-39.549873,-1863.639160,0.0
3,413,0,-106.616180,-1804.998901,1450.412720,10.350130,-1802.085938,1443.463257,-105.137207,-1965.661499,...,42.908787,83.641769,-1582.700562,69.601921,-39.451588,-1860.697998,844.898621,-39.451588,-1860.697998,0.0
4,414,0,-106.209923,-1800.210205,1449.871094,10.798304,-1797.383667,1442.903564,-104.727371,-1960.919678,...,41.876522,82.298470,-1569.838379,72.460670,-39.299858,-1855.984497,844.505005,-39.299858,-1855.984497,0.0